body{
	background-color: #d0e8fd;
	font-family: 'Times New Roman', serif;
}

a{
	color:black;
	text-decoration:underline;
}
@media screen and (min-width: 600px) {
	#sidenav{
		display:none;
	}
}

@media screen and (max-width: 601px) {
	#topnav{
		display:none;
	}
}

#topnav, #sidenav{
	font-family: Arial, sans-serif;
}

#navbar{
	list-style-type: none;
	margin: 0;
	margin-top: 0.6em;
	padding: 0;
	overflow: hidden;
	float:right;
}
#navbar li{
	float: left;
}
#navbar li a{
	text-align: center;
	padding: 0px 10px;
}

#navbar li a:link, #navbar li a:visited, #myDropdown a:link, #myDropdown a:visited{
	color: #a9a9a9;
	text-decoration: none;
}

#navbar li a:hover, #navbar li a:active, #navbar #active, #myDropdown a:hover, #myDropdown a:active, #myDropdown #active{
	color: #2b6777; /* #0b3c5d #2b6777 */
	text-decoration: none;
}

#sidenav{
	float:right;
}

.dropbtn {
	cursor: pointer;
	border: 1px solid rgba(180,180,180,0.5);
	border-radius: 5px;
}

.dropbtn span{
}

#img_menu{
	margin-top:1px;
	max-width:30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right:0;
  background-color: #f2f2f2;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}

#page_container{
	margin: auto;
	max-width: 750px;
	padding:0px 5px;
}

.mylist li{
	padding-bottom: 0.3em;
}

#contact_info{
	margin-top:1.5em;
}

h2{
	font-size:1.3em;
}

#test a{
	color:red;
}

#main_title{
	margin:0.8em 0em;
	font-family: Arial, sans-serif;
}

.image-row {
    display: flex;
    gap: 0;
}

.single-image img {
    display: block;
}